/* registration.css */
.leftDiv {
  flex: 1;
  background-color: #f7f7f7;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.loginForm {
  width: 60%;
  min-height: 40%;
  border: 1px solid #BEBEBE;
  border-radius: 10px;
  background-color: #FFFFFF;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}

/* OpenSans-Semibold / 30 px / 30 px Leading / #757575 */
h1 {
  margin: 40px 0px 0px;
  font-family: "Open Sans", sans-serif;
  font-size: 30px;
  line-height: 30px;
  color: #757575;
}

/* OpenSans-Semibold / 14 px / 19 px Leading / #A1A1A1 */
h6 {
  margin: 20px 0px 20px;
  font-family: "Open Sans", sans-serif;
  font-size: 14px;
  line-height: 19px;
  color: #A1A1A1;
}

.welcome {
  width: 80%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.input {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.showPasswordIcon {
  position: absolute;
  right: -50px;
  top: 60%;
  transform: translateY(-50%);
  cursor: pointer;
  margin-bottom: 20px;
}

.passwordContainer {
  width: 80%;
  position: relative;
  margin-bottom: 20px;
}

.emailContainer {
  width: 80%;
  margin-bottom: 20px;
}

/* AppleSystemUlFont / 14 px / 17 px Leading / #757575 */

#password,
#email {
  font-family: -apple-system, system-ui, BlinkMacSystemFont, "Segoe UI", Roboto;
  font-size: 14px;
  line-height: 17px;
  color: #757575;
}

.remember {
  width: 90%;
  display: flex;
  align-items: center;
  margin: 0px 0px 20px;
}

.checkbox-round {
  width: 1.3em;
  height: 1.3em;
  background-color: white;
  border-radius: 50%;
  vertical-align: middle;
  border: 1px solid #4A90E2;
  appearance: none;
  -webkit-appearance: none;
  outline: none;
  cursor: pointer;
  margin-right: 10px;
}

.checkbox-round:checked {
  background-color: #4A90E2;
}

/* AppleSystemUlFont / 14 px / 17 px Leading / #A1A1A1 */
h5 {
  font-family: -apple-system, system-ui, BlinkMacSystemFont, "Segoe UI", Roboto;
  font-weight: 400;
  font-size: 14px;
  line-height: 17px;
  color: #A1A1A1;
}

.signUp {
  background-color: #4A90E2;
  color: #FFFFFF;
  margin: 0px 10% 20px;
  width: 100px;
  height: 40px;
  font-family: "Open Sans", sans-serif;
  font-size: 14px;
  line-height: 30px;
  border: 1px solid #4A90E2;
  border-radius: 4px;
  cursor: pointer;
}

.signUp:hover {
  background-color: #3774b9;
}

.footer {
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 40%;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  margin-left: 10%;
}

/* AppleSystemUlFont / 12 px/ 15 px Leading / #A1A1A1 */
p {
  font-family: -apple-system, system-ui, BlinkMacSystemFont, "Segoe UI", Roboto;
  font-size: 12px;
  font-weight: 15px;
  color: #A1A1A1;
  margin-right: 20px;
}

/* OpenSans-Semibold / 12 px / 17 px Leading / #A1A1A1 */
.terms,
.privacy,
.more {
  background-color: transparent;
  border: none;
  cursor: pointer;
  padding-right: 20px;

  font-family: "Open Sans", sans-serif;
  font-size: 12px;
  line-height: 17px;
  color: #A1A1A1;
}

.more {
  font-size: 25px;
}

.error {
  width: 80%;
  margin: -10px 0px 20px;
  color: #cd4147;
}