.circle {
  display: flex;
  width: 4px;
  height: 4px;
  background-color: #BEBEBE;
  border-radius: 50%;
  position: absolute;
  transform: translateY(-50%);
  cursor: pointer;
  margin-bottom: 20px;
}

.weak {
  background-color: #CD4146;
}

.okay {
  background-color: #F9C466;
}

.good {
  background-color: #4A90E2;
}

.strong {
  background-color: #0A96A3;
}

.remove {
  background-color: #BEBEBE;
}